* {
	/* TODO: 어떤 코드가 들어가야 할까요? */
	box-sizing: border-box;
	margin: 0;
}

html {
	/* TODO: 어떤 코드가 들어가야 할까요? */
	font-family: sans-serif;
}

body {
	/* TODO: 어떤 코드가 들어가야 할까요? */
	width: 100%; height: 100%;
	min-width: 1020px;
}

/* TODO: 또 어떤 코드들이 들어가야 할까요? */
/* common start */
a {
	text-decoration: none;
}
a:link {
	color: blue;
}
a:visited {
	color: blue;
}
ul {
	list-style-type: none;
	padding: 0;
}
h1 {
	font-size: 36px;
	border-bottom: 1px solid #e2e4e8;
}
/* class start */
.flex{
	display: flex;
	/* flex-flow: row nowrap; */
}
.flex-row{
	flex-flow: row nowrap;
}
.flex-justify-space{
	justify-content: space-between; 
}
.flex-align-center{
	align-items: center;
}
.width-fix {
	width: 1020px;
	margin: 0 auto;
}
.border-around {
	display: block;
	border: 1px solid #e2e4e8;
	padding: 5px 11px;
}
.border-left-radius {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	border-right: 0px;
}
.border-right-radius {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
.border-radius-around{
	border-radius: 3px;
}
.buttons {
	background: linear-gradient(to bottom, #fafbfc 0%, #eff3f6 90%);
}

a.message-color{
	color: #596068;
}
/* header start */
#header{
	background-color: black;
	height: 60px;
}
#header a {
	color: white;
}
#header-template{
	height: 60px;
	padding-top: 12px;
	padding-bottom: 12px;
}
#header-template ul{
	padding-left: 5px;
}
#header-template ul li {
	padding-left: 3px;
	padding-right: 10px;
}
#header-icons ul li{
	padding-left: 5px;
}
#header-search {
	padding-left: 5px;
}
.search {
	display: block;
	height: 30px;
	padding: 3px 5px;
	margin-left: 2px;
	line-height: 27px;
	background-color: #404448; 
	border-width: 0;
}
#header-search a.search{
	color: #808488;
	font-weight: 300;
}
#header-search input.search{
	width: 180px;
}
/* content start */

/* content header start */
section{
	width: 100%;
	margin: 0 auto;
}
.main-header {
	height: 130px;
	background-color: #fafbfc;
	border-bottom: 1px solid #e2e4e8;
}
.btn {
	padding-left: 10px;
}
/* content header upper start */
#upper {
	height: 80px;
}
.repo {
	font-size: 24px;
	padding-right: 5px;
}
#main-icons a {
	color: black;
}

.right-button {
	background-color: white;
}
#main-icons a.right-button:hover {
	color: blue;
}
/* content header bottom start */
#bottom {
	height: 50px;
	align-items: flex-end;
	justify-content: flex-start
}
.tab-link {
	width: auto; height: 50px;
	border: solid transparent;
	border-width: 3px 1px 1px;
	padding-right: 15px;
	padding-left: 15px;
	line-height: 50px;
}
.tab-link a {
	color: black;
}
#content-tab ul li.active {
	background-color: white;
	border: solid;
	border-width: 3px 1px 1px;
	border-color: red #e2e4e8 transparent;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

/* status start */
#inform {
	height: 50px;
	font-size: 20px;
	line-height: 50px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.status-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	place-items: center;
}
#status-status {
	height: 60px;
	border: 1px solid #e2e4e8;
}

#status-icons ul li{
	height: 50px;
	line-height: 50px;
}
#status-icons ul li a{
	height: 50px;
	line-height: 50px;
	color: #808488;
}
.number {
	color: black;
}
#status-bar div {
	height: 9px;
	border: 1px solid transparent;
}
#status-bar div.red{
	width: 76%;
	background-color: red;
}
#status-bar div.yellow{
	width: 13%;
	background-color: yellow;
}
#status-bar div.navy{
	width: 11%;
	background-color: navy;
}
#status-bar div:first-child {
	border-bottom-left-radius: 3px;
}
#status-bar div:last-child {
	border-bottom-right-radius: 3px;
}

/* buttons start */
#content-directory-buttons {
	margin-top: 20px;
}
#content-directory-buttons a{
	color: black;
}
#git-buttons ul li, #file-buttons {
	margin-right: 8px;
}
#file-buttons ul li:first-child a{
	border-right: 0px;
}
#file-buttons ul li:last-child a{
	border-left: 0px;
}
#download-clone-botton a {
	background: linear-gradient(-180deg, #34d058 0%, #28a745 90%);
	border-color: #28a745;
	color: white;
}
/* file-list start */
#content-directory {
	margin-top: 15px;
}
#content-directory-header {
	height: 40px;
	background-color: #f2f8fe;
	border: 1px solid #CBE1FC;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
#user {
	color: black;
}
#files-left a{
	padding-left: 10px;
}
#files-right {
	padding-right: 8px;
}

#file-list {
	border-top: 0px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	padding: 0;
}
#file-list li:nth-child(n){
	width: 100%; height:40px;
	margin-right:2px;
	line-height: 40px;
	border-bottom: 1px solid #e2e4e8;
}
#file-list li:last-child {
	border-bottom: 0px;
}
.data-raw {
	display: grid;
	grid-template-columns: 200px auto 100px;
}
.data-raw:hover {
	background-color: #f6f8fe;
}
.data-raw div:first-child {
	padding-left: 10px;
}
.data-raw div:nth-child(2) {
	text-align: center;
}
.data-raw div:last-child{
	padding-right: 10px;
	text-align: end;
}

/* file-viewer start */
#file-viewer {
	margin-top: 10px;
	margin-bottom: 100px; 
	padding: 0;
}
#file-viewer-header{
	padding: 10px 14px 5px;
	border:1px solid transparent;
	background-color: #f2f4f8;
	border-bottom: 1px solid #e2e4e8;
}
#file-contents {
	padding: 40px 30px;
}
/* footer start */
footer{
	padding-top: 30px;
	padding-bottom: 30px;
	border-top: 1px solid rgba(0, 0, 0, 0.5);
	font-size: 12px;
}

.fnb ul li{
	padding-right: 10px;
}
.fnb ul li:last-child{
	padding-right: 0;
}
